version: "3.3"

services:
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
  
  pgadmin:
    image: dpage/pgadmin4
    ports:
      - 6050:5050
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - my_data:/var/lib/pgadmin
  
  backend:
    build:
      context: ./services/backend
      dockerfile: backend.dockerfile
    ports:
      - 6055:5000
    env_file:
      - .env
    volumes:
      - ./services/backend:/app
    command: bash -c "uvicorn app.main:app --reload --host 0.0.0.0 --port 5000"
    depends_on:
      - db
  
  frontend:
    build:
      context: ./services/frontend
      dockerfile: frontend.dockerfile
    ports:
      - 6056:8080
    env_file:
      - .env
    volumes:
      - "./services/frontend:/app"
      - "/app/node_modules"
    depends_on:
      - backend

volumes:
  postgres_data:
  my_data:
