version: "3.3"

services:
  
  backend:
    build:
      context: ./services/backend
      dockerfile: backend.dockerfile
    ports:
      - 6055:5000
    env_file:
      - .env
    volumes:
      - ./services/backend:/app
    command: bash -c "uvicorn app.main:app --reload --host 0.0.0.0 --port 5000"
  
  frontend:
    build:
      context: ./services/frontend
      dockerfile: frontend.dockerfile
    ports:
      - 6056:8080
    env_file:
      - .env
    volumes:
      - "./services/frontend:/app"
      - "/app/node_modules"
    depends_on:
      - backend
    

